<div ng-controller="Vendr.Controllers.PaymentMethodCreateController as vm" class="vendr" ng-cloak>

    <div class="umbracoDialog umb-dialog-body with-footer">

        <h5>Create an item under Payment Methods</h5>

        <div class="umb-pane">

            <ul class="umb-actions umb-actions-child">
                <li class="umb-action" ng-repeat="paymentProviderType in vm.options.paymentProviderTypes | filter:{ isObsolete:false }">
                    <button class="umb-action-link umb-outline btn-reset" ng-click="vm.createNewOfType(paymentProviderType)" umb-auto-focus ng-if="$index === 0">
                        <i class="large" ng-class="paymentProviderType.icon" aria-hidden="true"></i>
                        <span class="menu-label">
                            {{paymentProviderType.name}}
                            <small ng-of="paymentProviderType.description">{{paymentProviderType.description}}</small>
                        </span>
                    </button>
                    <button class="umb-action-link umb-outline btn-reset" ng-click="vm.createNewOfType(paymentProviderType)" ng-if="$index !== 0">
                        <i class="large" ng-class="paymentProviderType.icon" aria-hidden="true"></i>
                        <span class="menu-label">
                            {{paymentProviderType.name}}
                            <small ng-of="paymentProviderType.description">{{paymentProviderType.description}}</small>
                        </span>
                    </button>
                </li>
            </ul>

        </div>

    </div>

    <!-- Dialog footer -->
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button class="btn btn-info" ng-click="vm.close()">
            <localize key="buttons_somethingElse">Do something else</localize>
        </button>
    </div>

</div>
