<div ng-controller="Vendr.Controllers.PaymentMethodEditController as vm" class="vendr">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager
          autocomplete="off">

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.content.name"
                alias="vm.content.alias"
                hide-icon="true"
                hide-description="true"
                hide-alias="false"
                show-back-button="true"
                on-back="vm.back()"
                menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <div class="vendr-layout vendr-layout--layout1">

                    <div class="vendr-layout__left">

                        <umb-box>
                            <!--<umb-box-header title="Settings"></umb-box-header>-->
                            <umb-box-content>

                                <umb-control-group label="SKU">
                                    <input type="text" class="umb-property-editor umb-textstring textstring vendr-input--short"
                                           ng-model="vm.content.sku" />
                                </umb-control-group>
                                <umb-control-group label="Tax Class">
                                    <select class="umb-property-editor umb-dropdown"
                                            ng-model="vm.content.taxClassId"
                                            ng-options="itm.id as itm.name for itm in vm.options.taxClasses">
                                        <option value="" disabled selected ng-hide="vm.content.taxClassId">-- Select a Tax Class --</option>
                                    </select>
                                </umb-control-group>

                                <umb-control-group label="Default Pricing">

                                    <div class="vendr-input vendr-input--short" ng-repeat="defaultPrice in vm.content.defaultPrices">
                                        <span class="vendr-input--prefix">{{ defaultPrice.currencyCode }}</span>
                                        <input type="text" ng-model="defaultPrice.value" ng-currency currency-symbol="" min="0" />
                                    </div>

                                </umb-control-group>
                                <umb-control-group label="Image">
                                    <vendr-media-picker ng-model="vm.content.imageId"
                                                        multi-picker="false"
                                                        only-images="true"
                                                        disable-folder-select="true"></vendr-media-picker>
                                </umb-control-group>

                            </umb-box-content>
                        </umb-box>

                        <umb-box ng-if="vm.options.paymentProviderScaffold">
                            <umb-box-header title="{{ vm.options.paymentProviderScaffold.name }}" ng-if="vm.options.paymentProviderScaffold.name"></umb-box-header>
                            <umb-box-content>

                                <umb-property ng-repeat="property in vm.options.paymentProviderProperties track by property.alias" property="property">
                                    <umb-property-editor model="property"></umb-property-editor>
                                </umb-property>

                            </umb-box-content>

                            <umb-box-content ng-if="vm.options.advancedPaymentProviderProperties && vm.options.advancedPaymentProviderProperties.length > 0" style="padding-top: 0;">

                                <button type="button" title="Toggle advanced settings"
                                        class="btn-reset w-full vendr-advanced-toggle"
                                        ng-click="vm.toggleAdvancedPaymentProviderProperties()">
                                    <span ng-if="vm.options.advancedPaymentProviderPropertiesShown">&#9650; &nbsp; Advanced &nbsp; &#9650;</span>
                                    <span ng-if="!vm.options.advancedPaymentProviderPropertiesShown">&#9660; &nbsp; Advanced &nbsp; &#9660;</span>
                                </button>

                                <div ng-if="vm.options.advancedPaymentProviderPropertiesShown" style="padding-top: 30px;">
                                    <umb-property ng-repeat="property in vm.options.advancedPaymentProviderProperties track by property.alias" property="property">
                                        <umb-property-editor model="property"></umb-property-editor>
                                    </umb-property>
                                </div>

                            </umb-box-content>
                        </umb-box>

                        <umb-box ng-if="vm.content.paymentProviderSupportsFetchingPaymentStatus
                         || vm.content.paymentProviderSupportsCancellingPayments
                         || vm.content.paymentProviderSupportsCapturingPayments
                         || vm.content.paymentProviderSupportsRefundingPayments">
                            <umb-box-header title="Features"></umb-box-header>
                            <umb-box-content>

                                <umb-control-group label="Allow Fetching Payment Status"
                                                   description="Set whether fetching payment status from the payment provider API should be allowed."
                                                   ng-if="vm.content.paymentProviderSupportsFetchingPaymentStatus">
                                    <umb-toggle checked="vm.content.canFetchPaymentStatuses"
                                                on-click="vm.content.canFetchPaymentStatuses = !vm.content.canFetchPaymentStatuses"></umb-toggle>
                                </umb-control-group>

                                <umb-control-group label="Allow Cancelling Payments"
                                                   description="Set whether cancelling payments should be allowed."
                                                   ng-if="vm.content.paymentProviderSupportsCancellingPayments">
                                    <umb-toggle checked="vm.content.canCancelPayments"
                                                on-click="vm.content.canCancelPayments = !vm.content.canCancelPayments"></umb-toggle>
                                </umb-control-group>

                                <umb-control-group label="Allow Capturing Payments"
                                                   description="Set whether capturing payments should be allowed."
                                                   ng-if="vm.content.paymentProviderSupportsCapturingPayments">
                                    <umb-toggle checked="vm.content.canCapturePayments"
                                                on-click="vm.content.canCapturePayments = !vm.content.canCapturePayments"></umb-toggle>
                                </umb-control-group>

                                <umb-control-group label="Allow Refunding Payments"
                                                   description="Set whether refunding payments should be allowed."
                                                   ng-if="vm.content.paymentProviderSupportsRefundingPayments">
                                    <umb-toggle checked="vm.content.canRefundPayments"
                                                on-click="vm.content.canRefundPayments = !vm.content.canRefundPayments"></umb-toggle>
                                </umb-control-group>

                            </umb-box-content>
                        </umb-box>

                        <umb-box>
                            <umb-box-header title="Available in Countries"></umb-box-header>
                            <umb-box-content>

                                <vendr-toggle-list ng-model="vm.options.countryRegions"
                                                   toggle-all="true" items-key="regions"
                                                   checked-action-label="'Custom Pricing'"
                                                   on-checked-action="vm.openCustomPricesDialog"></vendr-toggle-list>

                            </umb-box-content>
                        </umb-box>
                    </div>

                    <div class="vendr-layout__right">

                        <vendr-editor-actions editor-actions="vm.options.editorActions"
                            model="vm.content"
                            ng-if="!vm.create && vm.options.editorActions && vm.options.editorActions.length > 0">
                        </vendr-editor-actions>

                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <vendr-id-label value="vm.content.id"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <vendr-id-label value="vm.content.storeId"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Payment Provider Alias">
                                    <vendr-id-label value="vm.content.paymentProviderAlias"></vendr-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>

                </div>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                        ancestors="vm.page.breadcrumb.items"
                        on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
