<div ng-controller="Vendr.Controllers.ProductAttributePresetEditController as vm" class="vendr">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager
          autocomplete="off">

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.content.name"
                alias="vm.content.alias"
                icon="vm.content.icon"
                description="vm.content.description"
                show-back-button="true"
                on-back="vm.back()"
                menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <vendr-license-check></vendr-license-check>

                <div class="vendr-layout vendr-layout--layout1">

                    <div class="vendr-layout__left">

                        <umb-box>
                            <!--<umb-box-header title="Settings"></umb-box-header>-->
                            <umb-box-content>

                                <umb-control-group label="Attributes" description="Select one or more attributes to add to this preset">

                                    <ul class="vendr-nested-list" ng-if="vm.content.allowedAttributes.length > 0">
                                        <li class="vendr-nested-list__item vendr-nested-list__item--level1" ng-repeat-start="attr in vm.content.allowedAttributes">
                                            <i class="icon icon-tag vendr-nested-list__icon" aria-hidden="true"></i>
                                            <span class="vendr-nested-list__name">{{vm.getAttributeName(attr.productAttributeAlias)}}</span>
                                            <i class="icon icon-trash vendr-nested-list__remove" aria-hidden="true" ng-click="vm.removeAllowedAttribute(attr.productAttributeAlias, $index)"></i>
                                        </li>
                                        <li class="vendr-nested-list__item vendr-nested-list__item--level-2" ng-repeat="val in attr.allowedValueAliases" ng-repeat-end>
                                            <span class="vendr-nested-list__name">{{vm.getAttributeValueName(attr.productAttributeAlias, val)}}</span>
                                            <i class="icon icon-trash vendr-nested-list__remove" aria-hidden="true" ng-click="vm.removeAllowedAttributeValue(attr.productAttributeAlias, val, $index)"></i>
                                        </li>
                                    </ul>

                                    <button type="button" class="umb-node-preview-add mt-10"
                                            ng-click="vm.openProductAttributePicker()">
                                        <span>Pick Attributes</span>
                                        <span class="sr-only">...</span>
                                    </button>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>
                    <div class="vendr-layout__right">

                        <vendr-editor-actions editor-actions="vm.options.editorActions"
                            model="vm.content"
                            ng-if="!vm.create && vm.options.editorActions && vm.options.editorActions.length > 0">
                        </vendr-editor-actions>

                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <vendr-id-label value="vm.content.id"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <vendr-id-label value="vm.content.storeId"></vendr-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>

                    </div>
                </div>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                                     ancestors="vm.page.breadcrumb.items"
                                     on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>
                <umb-editor-footer-content-right>
                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
