<select name="dropDownList"
        class="umb-property-editor umb-dropdown vendr-input"
        ng-model="model.value"
        ng-options="item  for item in model.config.items"
        ng-required="model.validation.mandatory"
        ng-if="Array.isArray(model.config.items)">
</select>

<select name="dropDownList"
        class="umb-property-editor umb-dropdown vendr-input"
        ng-model="model.value"
        ng-options="key as value for (key , value) in model.config.items"
        ng-required="model.validation.mandatory"
        ng-if="!Array.isArray(model.config.items)">
</select>