<div ng-controller="Vendr.Controllers.SettingsViewController as vm">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>

        <umb-editor-view ng-if="!vm.page.loading" class="vendr">

            <umb-editor-header name="'Vendr'"
                alias="vm.content.alias"
                name-locked="true"
                hide-icon="true"
                hide-description="true"
                hide-alias="true"
                show-back-button="false">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal" style="bottom: 0;">

                <div class="vendr-layout vendr-layout--layout1">

                    <div class="vendr-layout__left">

                        <umb-box>
                            <!--<umb-box-header title="Settings"></umb-box-header>-->
                            <umb-box-content>

                                <h3 class="bold" style="margin-top: 0;">Getting Started with Vendr</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit sit amet leo ornare mollis. Donec et nisl dictum, lacinia eros ac, ullamcorper lacus. In ut est vel lectus semper volutpat. Nulla facilisi. Nunc magna felis, sagittis eu est et, accumsan porta felis. In sed risus at diam tempus pretium ac ut justo.</p>
                                <h5>Find out more</h5>
                                <ul>
                                    <li>Read more about working with the items in Settings <a class="btn-link -underline" href="https://our.umbraco.com/documentation/Getting-Started/Backoffice/Sections/" target="_blank">in the Documentation section</a> of Our Umbraco</li>
                                    <li>Download the <a class="btn-link -underline" href="https://our.umbraco.com/projects/website-utilities/umbraco-7-editors-manual" target="_blank">Editors Manual</a> for details on working with the Umbraco UI</li>
                                    <li>Ask a question in the <a class="btn-link -underline" href="https://our.umbraco.com/forum" target="_blank">Community Forum</a></li>
                                    <li>Watch our <a class="btn-link -underline" href="https://umbraco.tv" target="_blank">tutorial videos</a> (some are free, some require a subscription)</li>
                                    <li>Find out about our <a class="btn-link -underline" href="https://umbraco.com/products/" target="_blank">productivity boosting tools and commercial support</a></li>
                                    <li>Find out about real-life <a class="btn-link -underline" href="https://umbraco.com/training/" target="_blank">training and certification</a> opportunities</li>
                                </ul>

                            </umb-box-content>
                        </umb-box>

                    </div>

                    <div class="vendr-layout__right">

                        <umb-box>
                            <umb-box-header title="Quick Links"></umb-box-header>
                            <umb-box-content class="block-form">

                                <a href="" class="btn btn-success btn-block">Buy a license</a>
                                <a href="" class="btn btn-info btn-block">View the Docs</a>
                                <a href="" class="btn btn-info btn-block">Get Some Help</a>

                            </umb-box-content>

                        </umb-box>

                        <umb-box>
                            <umb-box-header title="System Info"></umb-box-header>
                            <umb-box-content class="block-form">

                                <umb-control-group label="Installed Version">
                                    <div style="display: flex; justify-content: space-between;align-items: center;">
                                        <div>Vendr v3.1.0</div>
                                        <umb-badge color="success" size="s">Latest</umb-badge>
                                    </div>
                                </umb-control-group>

                                <umb-control-group label="Installed Payment Providers">
                                    <ul>
                                        <li>Invoice v1.0.0</li>
                                        <li>Stripe v1.0.0</li>
                                        <li>PayPal v1.0.0</li>
                                    </ul>
                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>

                        <umb-box>
                            <umb-box-header title="License Info"></umb-box-header>
                            <umb-box-content class="block-form">

                                <umb-control-group label="Licensed To"><a href="mailto:hi@outfield.digital">Matt Brailsford</a></umb-control-group>
                                <umb-control-group label="Purchased">12/03/2019</umb-control-group>
                                <umb-control-group label="Supported Until">12/03/2020</umb-control-group>

                                <umb-control-group label="Valid Domains">
                                    <ul>
                                        <li>teacommerce.net</li>
                                        <li>localhost</li>
                                        <li>*.local</li>
                                        <li>umbraco.io</li>
                                        <li>azurewebsites.net</li>
                                    </ul>
                                </umb-control-group>

                                <a href="" class="btn btn-info btn-block">Install a License</a>

                            </umb-box-content>

                        </umb-box>

                    </div>

                </div>

            </umb-editor-container>

        </umb-editor-view>
    </form>
</div>
