<div ng-controller="Vendr.Controllers.CustomPricingEditDialogController as vm" class="vendr vendr--narrow-view">

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="vm.page.name"
                name-locked="true"
                hide-alias="true"
                hide-icon="true"
                hide-description="true"
                show-back-button="false">
            </umb-editor-header>

            <umb-editor-container class="form-vertical">
                <umb-box>
                    <umb-box-content>
                        <umb-control-group label="Custom Pricing">
                            <div class="vendr-input vendr-input--wide" ng-repeat="customPrice in vm.customPrices">
                                <span class="vendr-input--prefix">{{ customPrice.currencyCode }}</span>
                                <input type="text" ng-model="customPrice.value" ng-currency currency-symbol="" min="0" />
                            </div>
                        </umb-control-group>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                                button-style="link"
                                label="Close"
                                label-key="general_close"
                                action="vm.close()">
                    </umb-button>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save and Close"
                                label-key="buttons_saveAndClose">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>
