<div ng-controller="Vendr.Controllers.PriceController as vm" class="vendr umb-property-editor">

    <ng-include ng-if="!vm.loading && !vm.store" src="'/app_plugins/vendr/views/common/nostorefound.html'"></ng-include>

    <div class="vendr-input vendr-input--short" ng-if="!vm.loading && vm.store"
         ng-repeat="price in vm.prices">
        <span class="vendr-input--prefix">{{ price.currencyCode }}</span>
        <input id="{{model.alias + ($index > 0 ? '-' + ($index + 1) : '')}}" type="text" ng-model="price.value" ng-currency currency-symbol="" />
    </div>

</div>