<div ng-controller="Vendr.Controllers.DictionaryEditDialogController as vm" class="vendr vendr--narrow-view">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.content.name"
                hide-alias="true"
                hide-icon="true"
                hide-description="true"
                show-back-button="false">
            </umb-editor-header>

            <umb-editor-container class="form-vertical">
                <umb-box>
                    <umb-box-content>
                        <umb-control-group label="{{ translation.displayName }}" ng-repeat="translation in vm.content.translations">
                            <textarea ng-model="translation.translation" style="width: 100%; margin: 0;" rows="4"></textarea>
                        </umb-control-group>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                                button-style="link"
                                label="Close"
                                label-key="general_close"
                                action="vm.close()">
                    </umb-button>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save and Close"
                                label-key="buttons_saveAndClose">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>
