<div ng-controller="Vendr.Controllers.PrintOptionsDialogController as vm" class="vendr vendr--narrow-view">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <umb-editor-view>

        <umb-editor-header name="'Print Order'"
            name-locked="true"
            hide-alias="true"
            hide-icon="true"
            hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div class="vendr-layout vendr-layout--reverse vendr-layout--layout1" ng-if="!vm.loading">
                <div class="vendr-layout__right">

                    <umb-box>
                        <umb-box-header title="Options"></umb-box-header>
                        <umb-box-content class="block-form">

                            <umb-control-group label="Templates" description="Select one or more templates to print">
                                <vendr-toggle-list ng-model="vm.options.templates" toggle-all="false"></vendr-toggle-list>
                            </umb-control-group>

                            <umb-control-group label="Language" description="Select the language to print in" ng-if="!vm.options.entityHasLanguageIsoCode">
                                <select class="umb-property-editor umb-dropdown"
                                        ng-model="vm.languageIsoCode"
                                        ng-options="itm.culture as itm.name for itm in vm.options.languages"
                                        required>
                                    <option value="" selected>-- Select a Language --</option>
                                </select>
                            </umb-control-group>

                        </umb-box-content>
                    </umb-box>

                    <umb-box ng-if="vm.options.entities.length > 1">
                        <umb-box-header title="Items to Print"></umb-box-header>
                        <umb-box-content class="block-form">
                            <ul style="list-style: none;margin-left: 0;">
                                <li ng-repeat="entity in vm.options.entities | limitTo: vm.options.showAllEntities ? vm.options.entities.length : 10"><button class="btn-reset hover:text-light-blue" ng-click="vm.options.currentEntityIndex = $index"><i class="icon mr-5 {{ vm.options.currentEntityIndex == $index ? 'icon-record' : 'icon-circle-dotted'}}" style="font-size: 20px; vertical-align: middle;" aria-hidden="true"></i> {{entity.name}}</button></li>
                            </ul>
                            <div ng-if="!vm.options.showAllEntities && vm.options.entities.length > 10">
                                <hr style="margin: 10px 0;" />
                                <button ng-click="vm.options.showAllEntities = true" class="btn-reset hover:text-light-blue"><i class="icon icon-eye mr-5" style="font-size: 20px; vertical-align: middle;" aria-hidden="true"></i> Show all {{vm.options.entities.length}} items</button>
                            </div>
                        </umb-box-content>
                    </umb-box>

                </div>
                <div class="vendr-layout__left" style="position: relative;">
                    <umb-box ng-repeat="tmpl in vm.options.templates | filter: { checked: true } ">
                        <!-- 
                            NB We don't use the umb-box-header directive as we need it to re-render when the
                            currently selected order changes
                        -->
                        <div class="umb-box-header">
                            <div>
                                <div class="umb-box-header-title">
                                    {{ tmpl.name }} - {{vm.options.entities[vm.options.currentEntityIndex].name}}
                                </div>
                            </div>
                        </div>
                        <umb-box-content class="block-form">
                            <iframe ng-src="{{ vm.getPreviewUrl(tmpl, vm.options.entities[vm.options.currentEntityIndex]) }}" style="width: 100%;height: 80px;" vendr-auto-size-iframe></iframe>
                        </umb-box-content>
                    </umb-box>

                    <umb-empty-state ng-if="!vm.anyTemplatesSelected()" position="center">
                        No templates selected
                    </umb-empty-state>

                </div>
            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>

                <umb-button type="button"
                    button-style="link"
                    label="Close"
                    label-key="general_close"
                    shortcut="esc"
                    action="vm.close()">
                </umb-button>

                <umb-button type="button"
                    button-style="success"
                    shortcut="ctrl+p"
                    label="Print"
                    action="vm.print()"
                    disabled="!vm.anyTemplatesSelected()">
                </umb-button>

            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>