<div ng-controller="Vendr.Controllers.UmbracoMemberGroupsPickerController">
    <umb-node-preview ng-repeat="group in model.value track by group | orderBy"
                      icon="'icon-users'"
                      name="group"
                      allow-remove="true"
                      on-remove="removeGroup(group)">
    </umb-node-preview>
    <button type="button" ng-click="pickGroup()" class="umb-node-preview-add">
        <localize key="general_add">Add</localize>
    </button>
</div>
