<div ng-controller="Vendr.Controllers.VariantsAppController as vm" class="vendr" ng-class="{'o-40 cursor-not-allowed ': !vm.canEditCulture() }">

    <vendr-table-view create-actions="vm.options.createActions"
        bulk-actions="vm.options.bulkActions"
        filters="vm.options.filters"
        allow-sorting="true"
        items="vm.layout"
        item-properties="vm.options.itemProperties"
        item-click="vm.options.itemClick"
        on-filter-item="vm.filterVariantRow"
        is-editable="true"
        ng-if="!vm.loading"
        ng-class="{'umb-property-editor--preview': !vm.canEditCulture() }">
    </vendr-table-view>

</div>
