<div ng-controller="Vendr.Controllers.StoreViewController as vm" class="vendr vendr--store-dashboard">

    <div style="max-width: 900px;">

        <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

        <div class="p-40" ng-if="!vm.loading">
            <button type="button" class="btn-reset btn-refresh" ng-click="vm.refresh()"><i class="fa fa-refresh"></i></button>
            <h2 class="mt-0 font-heading font-bold color-darkgrey text-xl">{{vm.store.name}} Dashboard</h2>
            <p class="text-lg color-midgrey" style="max-width: 75%;">Search for orders, review and act on recent store activity and see how your store is performing today. <span ng-if="vm.licensingInfo.limitations.canAccessAnalytics">If you'd like to see a more in-depth view, you can find this in the <a href="#/commerce/vendr/analytics-view/{{vm.store.id}}">Analytics</a> section.</span></p>

            <div class="mt-40 flex">
                <div class="mr-40" ng-if="vm.stats.totalRevenue">
                    <h3 class="text-base font-bold color-midgrey leading-none m-0 mb-5">Todays revenue</h3>
                    <h4 class="font-heading font-light leading-none text-xl m-0">{{ vm.stats.totalRevenue }}</h4>
                </div>
                <div class="mr-40" ng-if="vm.stats.totalOrders || vm.stats.totalOrders === 0">
                    <h3 class="text-base font-bold color-midgrey leading-none m-0 mb-5">Todays orders</h3>
                    <h4 class="font-heading font-light leading-none text-xl m-0">{{ vm.stats.totalOrders }}</h4>
                </div>
            </div>

            <vendr-order-search class="mt-40"
                                store-id="vm.store.id">
            </vendr-order-search>

            <ul class="vendr-action-list mt-20">
                <li ng-repeat="action in vm.actions"><a ng-href="{{action.routePath}}"><i class="icon {{action.icon}} vendr-action-list__icon"></i> <span ng-bind-html="action.description"></span></a></li>
                <li><span><i class="icon icon-rate vendr-action-list__icon"></i> <span>There are no actions currently requiring your attention</span></span></li>
            </ul>

            <umb-box class="mt-20">
                <umb-box-header title="Recent Activity"></umb-box-header>
                <umb-box-content class="block-form relative" style="min-height: 40px;">

                    <umb-load-indicator ng-if="vm.activityLogLoading"></umb-load-indicator>

                    <table class="vendr-activity-list" ng-if="!vm.activityLogLoading">
                        <tr ng-repeat="log in vm.activityLogs.items">
                            <td class="mr-20">
                                <span class="vendr-activity-list__pill {{log.badgeColorClass}}">{{ log.badgeLabel }}</span>
                            </td>
                            <td>
                                <strong><a ng-href="{{log.routePath}}">{{ log.eventSummary }}</a></strong><br />
                                <span class="color-midgrey">{{ log.eventDateUtc  | date:'MMMM d, yyyy h:mm a' }}</span>
                            </td>
                        </tr>
                    </table>

                    <div class="flex justify-center">
                        <umb-pagination ng-if="vm.activityLogs.totalPages > 0 && !vm.activityLogLoading"
                                        page-number="vm.activityLogs.pageNumber"
                                        total-pages="vm.activityLogs.totalPages"
                                        on-change="vm.loadActivityLog(pageNumber)"
                                        class="mb-0">
                        </umb-pagination>
                    </div>

                    <umb-empty-state ng-if="!vm.activityLogLoading && vm.activityLogs.totalItems === 0" position="center">
                        No activity log entries found
                    </umb-empty-state>

                </umb-box-content>
            </umb-box>

        </div>

    </div>
</div>
