@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.CheckoutConfirmationPage>
@{
    Layout = "CheckoutStepPage.cshtml";
}

    <div class="border border-gray-300 p-6 rounded mb-8 text-center">
        <span class="inline-flex items-center justify-center text-6xl border-2 border-green-500 rounded-full mb-4 w-24 h-24"><i class="fa fa-check text-green-500"></i></span>
        <h3 class="text-xl font-medium mb-4">Thank you for your order #@(Model.Order.OrderNumber ?? Model.Order.CartNumber)</h3>
        <p class="mb-4">A confirmation email has been sent to <strong>@(Model.Order.CustomerInfo.Email)</strong></p>
        <p><a href="/" class="inline-block bg-@(Model.CheckoutPage.PrimaryColor) text-white px-4 py-4 rounded hover:bg-gray-900">Return to Store</a></p>
    </div>

@await Html.PartialAsync("OrderInformationSummary")