@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.SearchPage>
@{
    Layout = "Page.cshtml";
}

<h1 class="text-4xl font-heading leading-tight tracking-tight mt-6">Search results for "@(Context.Request.Query["q"])"</h1>

@await Component.InvokeAsync("Search", new { currentPage = Model })