@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.StandardPage>
@{
    Layout = "Page.cshtml";
}

<h1 class="text-4xl font-heading leading-tight tracking-tight mt-6">@Model.Name.</h1>
<div class="rte">
    @Model.BodyText
</div>