<div ng-controller="Vendr.Controllers.GiftCardEditController as vm" class="vendr">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager
          autocomplete="off">

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.page.name"
                    name-locked="true"
                    hide-icon="true"
                    hide-description="true"
                    hide-alias="true"
                    show-back-button="true"
                    on-back="vm.back()"
                    menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <vendr-license-check></vendr-license-check>

                <div class="vendr-layout vendr-layout--layout1">

                    <div class="vendr-layout__left">

                        <umb-box>
                            <!--<umb-box-header title="Settings"></umb-box-header>-->
                            <umb-box-content>

                                <umb-control-group label="Code" description="Define the code for this gift card">
                                    <div class="vendr-input" style="position: relative">
                                        <input type="text" class="umb-property-editor umb-textstring textstring"
                                               ng-model="vm.content.code" />
                                        <button type="button" ng-click="vm.generateCode()" class="btn-link vendr-input--action"><i class="icon icon-flash" aria-hidden="true"></i></button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group label="Currency" description="Select the currency of the gift card">
                                    <select class="umb-property-editor umb-dropdown"
                                            ng-model="vm.content.currencyId"
                                            ng-options="itm.id as itm.name for itm in vm.options.currencies"
                                            required>
                                        <option value="" disabled selected ng-hide="vm.content.currencyId">-- Select a Currency --</option>
                                    </select>
                                </umb-control-group>

                                <umb-control-group label="Original Amount" description="Enter the original amount of the gift card">
                                    <div class="vendr-input vendr-input--short">
                                        <span class="vendr-input--prefix" ng-if="vm.content.currencyId">{{ vm.options.currencyCodes[vm.content.currencyId] }}</span>
                                        <input type="text" ng-model="vm.content.originalAmount" ng-currency currency-symbol="" min="0"
                                               ng-change="vm.syncOriginalAmountWithRemainingAmount()" />
                                    </div>
                                </umb-control-group>

                                <umb-control-group label="Remaining Amount" description="The current remaining amount of the gift card">
                                    <div class="vendr-input vendr-input--short">
                                        <span class="vendr-input--prefix" ng-if="vm.content.currencyId">{{ vm.options.currencyCodes[vm.content.currencyId] }}</span>
                                        <input type="text" ng-model="vm.content.remainingAmount" ng-currency currency-symbol="" min="0" max="{{vm.content.originalAmount}}" ng-readonly="vm.create" />
                                    </div>
                                </umb-control-group>

                                <umb-control-group label="Expiry Date" description="Define if and when the gift card should expire">

                                    <div class="umb-property-editor umb-contentpicker">

                                        <div class="btn-group flex" style="font-size: 15px;">
                                            <umb-date-time-picker ng-model="vm.localExpiryDate"
                                                                  options="vm.expiryDatePickerConfig"
                                                                  on-setup="vm.expiryDatePickerSetup(fpItem)"
                                                                  on-change="vm.expiryDatePickerChange(dateStr, instance)">
                                            </umb-date-time-picker>
                                            <button ng-show="vm.content.expiryDate" ng-click="vm.clearExpiryDate()" class="btn umb-button--xs dropdown-toggle umb-button-group__toggle vendr-btn--clear">
                                                <i class="icon icon-wrong"></i>
                                            </button>
                                        </div>

                                    </div>

                                </umb-control-group>

                                <umb-control-group label="Active" description="Activate / deactivate this gift card">
                                    <umb-toggle checked="vm.content.isActive"
                                                on-click="vm.content.isActive = !vm.content.isActive"></umb-toggle>
                                </umb-control-group>

                            </umb-box-content>
                        </umb-box>
                    </div>

                    <div class="vendr-layout__right">

                        <vendr-editor-actions editor-actions="vm.options.editorActions"
                            model="vm.content"
                            ng-if="!vm.create && vm.options.editorActions && vm.options.editorActions.length > 0">
                        </vendr-editor-actions>

                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <vendr-id-label value="vm.content.id"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <vendr-id-label value="vm.content.storeId"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Order Id" ng-if="vm.content.orderId">
                                    <vendr-id-label value="vm.content.orderId"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Order Number" ng-if="vm.content.orderNumber">
                                    <vendr-id-label value="'#' + vm.content.orderNumber"></vendr-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>

                </div>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                                     ancestors="vm.page.breadcrumb.items"
                                     on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
