<div ng-controller="Vendr.Controllers.TransactionInfoDialogController as vm" class="vendr ">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <umb-editor-view>

        <umb-editor-header name="vm.title"
            name-locked="true"
            hide-alias="true"
            hide-icon="true"
            hide-description="true">
        </umb-editor-header>

        <umb-editor-container class="form-vertical">

            <umb-box>
                <umb-box-content>

                    <umb-control-group label="{{prop.name}}" description="{{prop.description}}" ng-repeat="prop in vm.properties">
                        <div style="word-break: break-all">{{ prop.value && prop.value != '' ? prop.value : 'No Value' }}</div>
                    </umb-control-group>

                </umb-box-content>
            </umb-box>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                    button-style="link"
                    label-key="general_close"
                    shortcut="esc"
                    action="vm.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>