<div class="vendr-tags-editor vendr">
    <ng-form name="vm.tagEditorForm">

        <div ng-if="vm.isLoading">
            <localize key="loading">Loading</localize>...
        </div>

        <div ng-if="!isLoading" class="vendr-tags-editor__container">
            
            <button ng-repeat="tag in vm.viewModel track by $index"
                    type="button" 
                    class="btn btn-action"
                    style="margin: 5px;"
                    ng-click="vm.removeTag(tag)"
                    ng-keyup="vm.onKeyUpOnTag(tag, $event)">{{tag}} <i class="fa fa-remove ml-5" aria-hidden="true"></i></button>

            <input type="text"
                   id="{{vm.inputId}}"
                   class="typeahead tags-{{vm.inputId}}"
                   ng-model="vm.tagToAdd"
                   ng-keydown="vm.addTagOnEnter($event)"
                   ng-blur="vm.addTag()"
                   ng-maxlength="200"
                   maxlength="200"
                   localize="placeholder"
                   placeholder="@placeholders_enterTags" />

        </div>
    </ng-form>
</div>
