<div ng-controller="Vendr.Controllers.StoreEntityPickerController as vm" class="vendr umb-property-editor">

    <ng-include ng-if="!vm.loading && !vm.store" src="'/app_plugins/vendr/views/common/nostorefound.html'"></ng-include>

    <div ng-if="!vm.loading && vm.store" class="umb-contentpicker">

        <p ng-if="vm.pickedItem.deleted"><localize key="contentPicker_pickedTrashedItem"></localize></p>

        <ng-form name="pickerForm">

            <umb-node-preview ng-if="vm.pickedItem"
                icon="vm.pickedItem.icon"
                name="(vm.showStoreInName ? vm.store.name +' : ' : '') + vm.pickedItem.name"
                published="true"
                description="vm.pickedItem.id"
                sortable="false"
                allow-remove="true"
                allow-open="false"
                on-remove="vm.removeItem()"
                on-open="vm.openItem()">
            </umb-node-preview>

            <button type="button" ng-show="!vm.pickedItem" 
               class="umb-node-preview-add"
               ng-click="vm.openPicker()"
               id="{{vm.pickedItem.alias}}"
               aria-label="Add item">
                <localize key="general_add">Add</localize>
                <span class="sr-only">...</span>
            </button>

        </ng-form>

    </div>

</div>