<div>

    <umb-box>
        <umb-box-content class="block-form">

            <umb-control-group label="User Groups" description="The User Groups allowed to access this store"
                               ng-if="model.licensingInfo.limitations.supportsUserGroupPermissions">
                <vendr-toggle-list ng-model="model.options.userRoles" 
                                   toggle-all="true"></vendr-toggle-list>
            </umb-control-group>

            <umb-control-group label="Users" description="The Users allowed to access this store">
                <vendr-toggle-list ng-model="model.options.users" 
                                   toggle-all="true"></vendr-toggle-list>
            </umb-control-group>

        </umb-box-content>
    </umb-box>

</div>