<div class="vendr-layout vendr-layout--layout1">
    <div class="vendr-layout__left">

        <umb-box>
            <umb-box-header title="Order Details"></umb-box-header>
            <umb-box-content class="flex flex-column">
                <div class="vendr-order-table">

                    <div ng-repeat="ol in vm.content.orderLines" data-order-line-id="{{ ol.id }}">

                        <!-- Order Line -->
                        <div class="vendr-order-table__line-item">
                            <div class="flex items-baseline">
                                <i class="vendr-order-table__bundle-toggle fa"
                                   title="Expand / Collapse Bundle"
                                   ng-class="{ 'fa-plus-square-o': !vm.bundleIsExpanded(ol.bundleId), 'fa-minus-square-o': vm.bundleIsExpanded(ol.bundleId) }"
                                   ng-click="vm.toggleBundle(ol.bundleId)"
                                   ng-if="ol.bundleId && ol.orderLines.length > 0"
                                   aria-hidden="true"></i>
                                <div class="flex flex-column w-full">
                                    <div class="flex items-baseline w-full">
                                        <strong title="{{ ol.name }}" class="truncate">{{ ol.name }}</strong>
                                        <button type="button" class="btn-link hover:text-light-blue" title="Edit Order Line Properties"
                                                ng-if="vm.hasEditableOrderLineProperties(ol)"
                                                ng-click="vm.editOrderLineProperties(ol)">
                                            <i class="fa fa-pencil-square-o" style="font-weight:normal; vertical-align: middle;" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="color-grey text-12 block">
                                        <span title="Sku: {{ ol.sku }}">{{ ol.sku }}</span>
                                        <span ng-repeat="attr in ol.attributes">&nbsp;/&nbsp;{{ attr.value.name }}</span>
                                        <span ng-repeat="olp in vm.editorConfig.orderLine.properties"
                                              ng-if="olp.showInOrderLineSummary !== false && ol.properties[olp.alias]">&nbsp;/&nbsp;{{ ol.properties[olp.alias].value }}</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="color-grey text-12 strikethrough block" ng-if="ol.unitPriceWithoutAdjustments != ol.unitPrice">{{ol.unitPriceWithoutAdjustments}}</span>
                                {{ ol.quantity }} x {{ ol.unitPrice }}

                            </div>
                            <div>
                                <span class="color-grey text-12 strikethrough block" ng-if="ol.totalPriceWithoutAdjustments != ol.totalPrice">{{ol.totalPriceWithoutAdjustments}}</span>
                                {{ ol.totalPrice }}
                            </div>
                        </div>

                        <!-- Bundle Order Lines (we assume a single level) -->
                        <div class="vendr-order-table__bundle" ng-if="ol.bundleId && ol.orderLines.length > 0 && vm.bundleIsExpanded(ol.bundleId)">
                            <div class="vendr-order-table__bundle--inner">

                                <div class="vendr-order-table__line-item" ng-if="ol.unitPriceBase != vm.content.zeroAmount">
                                    <div>
                                        <strong>Base Price</strong>
                                    </div>
                                    <div>
                                        <strong>{{ol.unitPriceBase}}</strong>
                                    </div>
                                    <div></div>
                                </div>

                                <div class="vendr-order-table__line-item" ng-repeat="sol in ol.orderLines" data-order-line-id="{{ sol.id }}">
                                    <div class="flex flex-column w-2/5">
                                        <div class="flex items-baseline w-full">
                                            <strong>{{ sol.name }}</strong>
                                            <button type="button" class="btn-link hover:text-light-blue" title="Edit Order Line Properties"
                                                    ng-if="vm.hadEditableOrderLineProperties(sol)"
                                                    ng-click="vm.editOrderLineProperties(ol)">
                                                <i class="fa fa-pencil-square-o" style="font-weight:normal; margin-left: 5px; vertical-align: middle;" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="color-grey text-12 block">
                                            <span title="Sku: {{ sol.sku }}">{{ sol.sku }}</span>
                                            <span ng-repeat="attr in sol.attributes">&nbsp;/&nbsp;{{ attr.value.name }}</span>
                                            <span ng-repeat="solp in vm.editorConfig.orderLine.properties"
                                                  ng-if="solp.showInOrderLineSummary !== false  && sol.properties[solp.alias]">&nbsp;/&nbsp;{{ sol.properties[solp.alias].value }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="color-grey text-12 strikethrough block" ng-if="sol.unitPriceWithoutAdjustments != sol.unitPrice">{{sol.unitPriceWithoutAdjustments}}</span>
                                        {{ sol.quantity }} x {{ sol.unitPrice }}

                                    </div>
                                    <div class="bold">
                                        <span class="color-grey text-12 strikethrough block" ng-if="sol.totalPriceWithoutAdjustments != sol.totalPrice">{{sol.totalPriceWithoutAdjustments}}</span>
                                        {{ sol.totalPrice }}
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="vendr-order-table__total">
                        <div>Subtotal</div>
                        <div>
                            {{ vm.content.subtotalPriceWithPreviousAdjustments }}
                        </div>
                    </div>
                    <div class="vendr-order-table__subtotal" ng-if="vm.content.subtotalPriceFeesAdjustment != vm.content.zeroAmount">
                        <div>Subtotal Fees</div>
                        <div>{{ vm.content.subtotalPriceFeesAdjustment }}</div>
                    </div>
                    <div class="vendr-order-table__subtotal" ng-if="vm.content.subtotalPriceDiscountAdjustment != vm.content.zeroAmount">
                        <div>Subtotal Discount</div>
                        <div>{{ vm.content.subtotalPriceDiscountAdjustment }}</div>
                    </div>

                    <div class="vendr-order-table__subtotal">
                        <div>Shipping<span ng-if="vm.content.shippingMethod"> via {{ vm.content.shippingMethod.name }}</span></div>
                        <div>
                            <span class="color-grey text-12 strikethrough mr-5" ng-if="vm.content.shippingMethodPriceWithoutAdjustments != vm.content.shippingMethodPrice">{{ vm.content.shippingMethodPriceWithoutAdjustments }}</span>
                            {{ vm.content.shippingMethodPrice }}
                        </div>
                    </div>
                    <div class="vendr-order-table__subtotal">
                        <div>Payment<span ng-if="vm.content.paymentMethod"> via {{ vm.content.paymentMethod.name }}</span></div>
                        <div>
                            <span class="color-grey text-12 strikethrough mr-5" ng-if="vm.content.paymentMethodPriceWithoutAdjustments != vm.content.paymentMethodPrice">{{ vm.content.paymentMethodPriceWithoutAdjustments }}</span>
                            {{ vm.content.paymentMethodPrice }}
                        </div>
                    </div>

                    <hr class="w-2/5 self-end" />

                    <div class="vendr-order-table__total">
                        <div>Net Total</div>
                        <div>{{ vm.content.totalPriceWithPreviousAdjustments }}</div>
                    </div>
                    <div class="vendr-order-table__subtotal" ng-if="vm.content.totalPriceFeesAdjustment != vm.content.zeroAmount">
                        <div>Net Total Fees</div>
                        <div>{{ vm.content.totalPriceFeesAdjustment }}</div>
                    </div>
                    <div class="vendr-order-table__subtotal" ng-if="vm.content.totalPriceDiscountAdjustment != vm.content.zeroAmount">
                        <div>Net Total Discount</div>
                        <div>{{ vm.content.totalPriceDiscountAdjustment }}</div>
                    </div>

                    <div class="vendr-order-table__subtotal">
                        <div>TAX</div>
                        <div>{{ vm.content.totalPriceTax }}</div>
                    </div>

                    <div class="vendr-order-table__subtotal" ng-if="vm.content.totalGiftCardAdjustment != vm.content.zeroAmount">
                        <div>Gift Card <span class="color-grey text-12 block">{{ vm.content.appliedGiftCards.join(', ') }}</span></div>
                        <div>{{ vm.content.totalGiftCardAdjustment }}</div>
                    </div>

                    <hr class="w-2/5 self-end" />

                    <div class="vendr-order-table__total mb-0">
                        <div>Order Total</div>
                        <div>{{ vm.content.transactionAmount }}</div>
                    </div>

                </div>

            </umb-box-content>
        </umb-box>

        <umb-box>
            <umb-box-header title="Payment Details">
                <button type="button" class="btn-link -mr-5 hover:text-light-blue" ng-click="vm.viewTransactionInfo()" title="Transaction Info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </umb-box-header>
            <umb-box-content class="flex flex-column">

                <div class="vendr-order-table__subtotal">
                    <div>Transaction Amount</div>
                    <div>{{ vm.content.transactionAmountAuthorized }}</div>
                </div>

                <div class="vendr-order-table__subtotal" ng-if="vm.content.transactionFee != vm.content.zeroAmount">
                    <div>Transaction Fee</div>
                    <div>-{{ vm.content.transactionFee }}</div>
                </div>

                <div ng-switch="vm.content.paymentStatus">
                    <div ng-switch-when="Refunded">
                        <div class="vendr-order-table__subtotal">
                            <div>Refunded</div>
                            <div>-{{ vm.content.totalReceived }}</div>
                        </div>
                        <div class="vendr-order-table__total mb-0">
                            <div>Total Received</div>
                            <div>{{ vm.content.zeroAmount }}</div>
                        </div>
                    </div>
                    <div ng-switch-when="Cancelled">
                        <div class="vendr-order-table__subtotal">
                            <div>Cancelled</div>
                            <div>-{{ vm.content.totalReceived }}</div>
                        </div>
                        <div class="vendr-order-table__total mb-0">
                            <div>Total Received</div>
                            <div>{{ vm.content.zeroAmount }}</div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div class="vendr-order-table__total mb-0">
                            <div>Total Received</div>
                            <div>{{ vm.content.totalReceived }}</div>
                        </div>
                    </div>
                </div>

                <!-- Need to also check payment providers supports capture -->
                <div ng-if="vm.content.paymentStatus == 'Authorized' && (vm.content.paymentMethod.canCancelPayments || vm.content.paymentMethod.canCapturePayments)" class="flex flex-column">
                    <hr />
                    <div class="self-end">
                        <umb-button type="button" 
                                    label="Cancel Payment" 
                                    class="mr-5" 
                                    action="vm.confirmCancelPayment()" 
                                    state="vm.cancelPaymentButtonState"
                                    disabled="vm.cancelPaymentButtonState === 'busy'"
                                    ng-if="vm.content.paymentMethod.canCancelPayments"></umb-button>
                        <umb-button type="button" 
                                    button-style="success" 
                                    label="Capture Payment" 
                                    action="vm.confirmCapturePayment()" 
                                    state="vm.capturePaymentButtonState"
                                    disabled="vm.capturePaymentButtonState === 'busy'"
                                    ng-if="vm.content.paymentMethod.canCapturePayments"></umb-button>
                    </div>
                </div>
                <div ng-if="vm.content.paymentStatus == 'Captured' && vm.content.paymentMethod.canRefundPayments" class="flex flex-column">
                    <hr /> 
                    <umb-button type="button" 
                                label="Refund Payment" 
                                class="self-end" 
                                action="vm.confirmRefundPayment()"
                                state="vm.refundPaymentButtonState"
                                disabled="vm.refundPaymentButtonState === 'busy'"></umb-button>
                </div>

            </umb-box-content>
        </umb-box>

        <umb-box ng-if="vm.editorConfig.notes.customerNotes || vm.editorConfig.notes.internalNotes">
            <umb-box-header title="Order Notes"></umb-box-header>
            <umb-box-content>

                <umb-control-group label="{{vm.editorConfig.notes.customerNotes.label}}" ng-if="vm.editorConfig.notes.customerNotes">
                    <textarea class="umb-property-editor umb-textarea textstring" rows="8" style="min-width: 100%;"
                              ng-model="vm.content.properties[vm.editorConfig.notes.customerNotes.alias].value"></textarea>
                </umb-control-group>

                <umb-control-group label="{{vm.editorConfig.notes.internalNotes.label}}" ng-if="vm.editorConfig.notes.internalNotes">
                    <textarea class="umb-property-editor umb-textarea textstring" rows="8" style="min-width: 100%;"
                              ng-model="vm.content.properties[vm.editorConfig.notes.internalNotes.alias].value"></textarea>
                </umb-control-group>

            </umb-box-content>
        </umb-box>

        <!--<umb-box>
            <umb-box-header title="Timeline"></umb-box-header>
            <umb-box-content>

                <div class="history">

                    <div class="history-line history-line--s"></div>

                    <div class="history-item">

                        <div class="history-item__break">
                            <div class="history-item__avatar">
                                <div class="umb-avatar umb-avatar--s vendr-bg--grey"><span>E</span></div>
                            </div>

                            <div>
                                <div>Confirmation Email Sent</div>
                                <div class="history-item__date">October 9, 2019 1:18 PM</div>
                            </div>
                        </div>

                    </div>

                    <div class="history-item">

                        <div class="history-item__break">
                            <div class="history-item__avatar">
                                <div class="umb-avatar umb-avatar--s vendr-bg--grey"><span>O</span></div>
                            </div>

                            <div>
                                <div>Order Placed</div>
                                <div class="history-item__date">October 9, 2019 1:18 PM</div>
                            </div>
                        </div>

                    </div>

                </div>

            </umb-box-content>
        </umb-box>-->

    </div>
    <div class="vendr-layout__right">

        <vendr-editor-actions editor-actions="vm.options.editorActions"
            model="vm.content"
            ng-if="vm.options.editorActions && vm.options.editorActions.length > 0">
        </vendr-editor-actions>

        <umb-box>
            <umb-box-header title="Customer Details">
                <umb-button type="button" label="Edit" ng-click="vm.editCustomerDetails()"></umb-button>
            </umb-box-header>
            <umb-box-content>

                <div class="relative copy-box">
                    <button type="button" umb-clipboard umb-clipboard-target="#customer" umb-clipboard-success="vm.copySuccess('Customer details')" class="btn-link copy-box__copy -mr-5" title="Copy Customer Details" aria-hidden="true">
                        <i class="fa fa-copy" aria-hidden="true"></i>
                    </button>
                    <div id="customer" class="flex flex-column">
                        <strong>
                            {{ vm.content.customerFirstName }} {{ vm.content.customerLastName }}
                            <button type="button" class="btn-link hover:text-light-blue" ng-click="vm.viewCustomerInfo()" title="Customer Info"><i class="fa fa-user" aria-hidden="true"></i></button>
                        </strong>
                        <span ng-if="vm.editorConfig.customer.company && vm.content.properties[vm.editorConfig.customer.company.alias]">
                            {{vm.content.properties[vm.editorConfig.customer.company.alias].value}}
                            <small ng-if="vm.editorConfig.customer.taxCode && vm.content.properties[vm.editorConfig.customer.taxCode.alias]" class="color-grey">({{vm.content.properties[vm.editorConfig.customer.taxCode.alias].value}})</small>
                        </span>
                        <span ng-if="vm.content.customerEmail">
                            <a href="mailto:{{vm.content.customerEmail}}" class="color-light-blue">{{vm.content.customerEmail}}</a>
                        </span>
                        <span ng-if="vm.editorConfig.customer.telephone && vm.content.properties[vm.editorConfig.customer.telephone.alias]">{{vm.content.properties[vm.editorConfig.customer.telephone.alias].value}}</span>

                    </div>
                </div>

                <hr />

                <div class="relative  copy-box">
                    <button type="button" umb-clipboard umb-clipboard-target="#billing-adress" umb-clipboard-success="vm.copySuccess('Billing address')" class="btn-link copy-box__copy -mr-5" title="Copy Billing Address" aria-hidden="true">
                        <i class="fa fa-copy" aria-hidden="true"></i>
                    </button>
                    <div id="billing-adress">
                        <strong>Billing Address</strong>
                        <div ng-if="vm.editorConfig.billing.addressLine1 && vm.content.properties[vm.editorConfig.billing.addressLine1.alias]">
                            {{vm.content.properties[vm.editorConfig.billing.addressLine1.alias].value}}
                        </div>
                        <div ng-if="vm.editorConfig.billing.addressLine2 && vm.content.properties[vm.editorConfig.billing.addressLine2.alias]">
                            {{vm.content.properties[vm.editorConfig.billing.addressLine2.alias].value}}
                        </div>
                        <div ng-if="vm.editorConfig.billing.city && vm.content.properties[vm.editorConfig.billing.city.alias]">
                            {{vm.content.properties[vm.editorConfig.billing.city.alias].value}}
                        </div>
                        <div ng-if="vm.editorConfig.billing.zipCode && vm.content.properties[vm.editorConfig.billing.zipCode.alias]">
                            {{vm.content.properties[vm.editorConfig.billing.zipCode.alias].value}}
                        </div>
                        <div ng-if="vm.content.paymentCountry">
                            {{vm.content.paymentCountry.name}}
                        </div>
                        <div ng-if="vm.content.paymentRegion">
                            {{vm.content.paymentRegion.name}}
                        </div>
                        <div ng-if="vm.editorConfig.billing.telephone && vm.content.properties[vm.editorConfig.billing.telephone.alias]">
                            <br />Tel: {{vm.content.properties[vm.editorConfig.billing.telephone.alias].value}}
                        </div>
                    </div>
                </div>

                <hr ng-if="vm.editorConfig.shipping.enabled !== false" />

                <div class="relative copy-box" ng-if="vm.editorConfig.shipping.enabled !== false">
                    <button type="button" umb-clipboard umb-clipboard-target="#shipping-adress" umb-clipboard-success="vm.copySuccess('Shipping address')" class="btn-link copy-box__copy -mr-5" title="Copy Shipping Address" aria-hidden="true">
                        <i class="fa fa-copy" aria-hidden="true"></i>
                    </button>
                    <div id="shipping-adress">
                        <strong>Shipping Address</strong>
                        <div ng-if="vm.editorConfig.shipping.sameAsBilling && vm.content.properties[vm.editorConfig.shipping.sameAsBilling.alias].value == vm.editorConfig.shipping.sameAsBilling.trueValue">
                            {{vm.editorConfig.shipping.sameAsBilling.label}}
                        </div>
                        <div ng-if="!vm.editorConfig.shipping.sameAsBilling || vm.content.properties[vm.editorConfig.shipping.sameAsBilling.alias].value != vm.editorConfig.shipping.sameAsBilling.trueValue">
                            <div ng-if="(vm.editorConfig.shipping.firstName && vm.content.properties[vm.editorConfig.shipping.firstName.alias]) || (vm.editorConfig.shipping.lastName && vm.content.properties[vm.editorConfig.shipping.lastName.alias])">
                                <span ng-if="vm.editorConfig.shipping.firstName && vm.content.properties[vm.editorConfig.shipping.firstName.alias]">
                                    {{vm.content.properties[vm.editorConfig.shipping.firstName.alias].value}}
                                </span>
                                <span ng-if="vm.editorConfig.shipping.lastName && vm.content.properties[vm.editorConfig.shipping.lastName.alias]">
                                    {{vm.content.properties[vm.editorConfig.shipping.lastName.alias].value}}
                                </span>
                            </div>
                            <div ng-if="vm.editorConfig.shipping.addressLine1 && vm.content.properties[vm.editorConfig.shipping.addressLine1.alias]">
                                {{vm.content.properties[vm.editorConfig.shipping.addressLine1.alias].value}}
                            </div>
                            <div ng-if="vm.editorConfig.shipping.addressLine2 && vm.content.properties[vm.editorConfig.shipping.addressLine2.alias]">
                                {{vm.content.properties[vm.editorConfig.shipping.addressLine2.alias].value}}
                            </div>
                            <div ng-if="vm.editorConfig.shipping.city && vm.content.properties[vm.editorConfig.shipping.city.alias]">
                                {{vm.content.properties[vm.editorConfig.shipping.city.alias].value}}
                            </div>
                            <div ng-if="vm.editorConfig.shipping.zipCode && vm.content.properties[vm.editorConfig.shipping.zipCode.alias]">
                                {{vm.content.properties[vm.editorConfig.shipping.zipCode.alias].value}}
                            </div>
                            <div ng-if="vm.content.shippingCountry">
                                {{vm.content.shippingCountry.name}}
                            </div>
                            <div ng-if="vm.content.shippingRegion">
                                {{vm.content.shippingRegion.name}}
                            </div>
                            <div ng-if="vm.editorConfig.shipping.telephone && vm.content.properties[vm.editorConfig.shipping.telephone.alias]">
                                <br />Tel: {{vm.content.properties[vm.editorConfig.shipping.telephone.alias].value}}
                            </div>
                        </div>
                    </div>
                </div>

            </umb-box-content>
        </umb-box>

        <umb-box ng-if="vm.editorConfig.additionalInfo || (vm.content.appliedDiscountCodes && vm.content.appliedDiscountCodes.length > 0)">
            <umb-box-header title="Additional Information">
                <umb-button type="button" label="Edit"
                            ng-if="vm.hasEditableOrderProperties()"
                            ng-click="vm.editOrderProperties()"></umb-button>
            </umb-box-header>
            <umb-box-content>
                <p ng-if="vm.content.appliedDiscountCodes && vm.content.appliedDiscountCodes.length > 0"><strong>Discount Codes Used:</strong><br />{{ vm.content.appliedDiscountCodes.join(', ') }}</p>
                <p ng-repeat="ai in vm.editorConfig.additionalInfo">
                    <strong>{{ ai.label }}:</strong><br />{{vm.content.properties[ai.alias] && vm.content.properties[ai.alias].value && vm.content.properties[ai.alias].value != '' ? vm.content.properties[ai.alias].value : 'No value'}}
                </p>
            </umb-box-content>
        </umb-box>
    </div>
</div>
