<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Umbraco.Core.UseHttps" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.ModelsDirectory" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
  <system.net>
      <mailSettings>
          <smtp>
              <network host="" userName="" password="" xdt:Transform="SetAttributes" />
          </smtp>
      </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Remove" />
    <serverRuntime xdt:Transform="Remove" />
    <rewrite xdt:Transform="Remove" />
    <httpErrors existingResponse="PassThrough" xdt:Transform="Insert"/>
    <serverRuntime frequentHitThreshold="1" frequentHitTimePeriod="00:10:00" xdt:Transform="Insert"/>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="WhiteList" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{URL}" pattern="^.*/(base|webshop|umbraco|umbraco_client|client|install|api|bundles|app_plugins|.well-known)/" ignoreCase="true"/>
          </conditions>
          <action type="None"/>
        </rule>
        <rule name="CanonicalHostName" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^try.vendr.net$" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^localhost" negate="true"/>
            <add input="{HTTP_HOST}" pattern=".local$" negate="true"/>
            <add input="{HTTP_HOST}" pattern=".nip.io$" negate="true"/>
            <add input="{HTTP_HOST}" pattern=".sneak.pk$" negate="true"/>
            <add input="{HTTP_HOST}" pattern=".azurewebsites.net$" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://try.vendr.net/{R:1}"/>
        </rule>
        <rule name="RedirectToHttps" stopProcessing="true" enabled="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off" ignoreCase="true"/>
            <add input="{HTTP_HOST}" pattern="^try.vendr.net$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
        <rule name="CanonicalHomePage" stopProcessing="true">
          <match url="^(home|default\.aspx)$"/>
          <action type="Redirect" redirectType="Permanent" url="/"/>
        </rule>
        <rule name="TrimAspx" stopProcessing="true">
          <match url="(.*)\.aspx$"/>
          <action type="Redirect" redirectType="Permanent" url="{R:1}"/>
        </rule>
        <rule name="AddTrailingSlashRule" stopProcessing="true">
          <match url="(.*[^/])$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="/umbraco_client" negate="true"/>
            <add input="{URL}" pattern="/umbraco" negate="true"/>
            <add input="{URL}" pattern="/install" negate="true"/>
            <add input="{URL}" pattern="/media/" negate="true"/>
            <add input="{URL}" pattern="/css/" negate="true"/>
            <add input="{URL}" pattern="/scripts/" negate="true"/>
            <add input="{URL}" pattern="/images/" negate="true"/>
            <add input="{URL}" pattern="/downloads/" negate="true"/>
            <add input="{URL}" pattern=".axd" negate="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}/"/>
        </rule>
        <rule name="LowerCaseUrls" stopProcessing="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{R:1}" pattern="[A-Z]" ignoreCase="false"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{R:1}" pattern="^.*?\.(axd|css|js|jpg|jpeg|png|gif|ashx|asmx|svc).*?$" negate="true" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>