<div>
    <div ng-if="licensingInfo">
        <vendr-message ng-if="!licensingInfo.isLicensed" type="'warn'" heading="'Trial Mode'" icon="'exclamation-triangle'">
            <p>Vendr is currently running in unlicensed mode and will be limited to a maximum of {{licensingInfo.limitations.maxFinalizedOrders}} finalized orders. You can purchase a license from <a href="https://vendr.net?ref=lic-check" target="_blank">the Vendr website</a>.</p>
        </vendr-message>

        <vendr-message ng-if="licensingInfo.isLicensed && licensingInfo.isExpiring" type="'warn'" heading="'License Expiring'" icon="'exclamation-triangle'">
            <p>You are currently using Vendr with a license that is due to expire. If you have a trial license, please purchase a full license from <a href="https://vendr.net?ref=lic-check" target="_blank">the Vendr website</a>. If you are using a subscription license, this should have renewed by now so please review your error log for any issues with the renewal process.</p>
        </vendr-message>
    </div>
</div>