<div class="vendr">

    <div class="umb-property-editor umb-listview">

        <umb-editor-sub-header ng-class="{'--state-selection':(selection.length > 0)}">

            <umb-editor-sub-header-content-left>

                <umb-editor-sub-header-section ng-if="(createActions && createActions.length > 0 && (selection.length == 0))">

                    <div class="btn-group" ng-show="createActions.length == 1">
                        <button type="button" class="btn btn-outline umb-outline" ng-click="createActions[0].doAction()">
                            <i class="{{createActions[0].icon}}" aria-hidden="true"></i>
                            {{createActions[0].name}}
                        </button>
                    </div>

                    <div class="btn-group" ng-show="createActions.length > 1">
                        <button type="button" class="btn btn-outline umb-outline dropdown-toggle" data-toggle="dropdown">
                            <span ng-click="createActions[0].doAction()">
                                <i class="{{createActions[0].icon}}" aria-hidden="true"></i>
                                {{createActions[0].name}}
                            </span>
                            <span class="caret" ng-click="page.createDropdownOpen = !page.createDropdownOpen"></span>
                        </button>

                        <umb-dropdown ng-if="page.createDropdownOpen" on-close="page.createDropdownOpen = false">
                            <umb-dropdown-item ng-repeat="createAction in createActions" ng-if="$index > 0">
                                <a ng-click="createAction.doAction()">
                                    <i class="{{createAction.icon}}" aria-hidden="true"></i>
                                    {{createAction.name}}
                                </a>
                            </umb-dropdown-item>
                        </umb-dropdown>
                    </div>

                </umb-editor-sub-header-section>

                <vendr-filter ng-repeat="fltr in filters track by fltr.alias"
                    ng-show="!selection || selection.length == 0"
                    filter="fltr"
                    on-change="doFilter()">
                </vendr-filter>

                <umb-editor-sub-header-section ng-show="(selection.length > 0)">
                    <umb-button type="button"
                        label="Clear selection"
                        label-key="buttons_clearSelection"
                        button-style="white"
                        action="clearSelection()"
                        disabled="bulkActionInProgress">
                    </umb-button>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-show="(selection.length > 0)">
                    <strong ng-show="!bulkActionInProgress">{{ selection.length }}&nbsp;<localize key="general_of">of</localize>&nbsp;{{ options.filteredItems.length }}&nbsp;<localize key="general_selected">items selected</localize></strong>
                    <strong ng-show="bulkActionInProgress" ng-bind="bulkActionStatus"></strong>
                    <umb-loader position="bottom" ng-show="bulkActionInProgress"></umb-loader>
                </umb-editor-sub-header-section>

            </umb-editor-sub-header-content-left>

            <umb-editor-sub-header-content-right>

                <umb-editor-sub-header-section ng-show="(selection.length == 0)">
                    <div class="form-search -no-margin-bottom pull-right" novalidate>
                        <div class="inner-addon left-addon">
                            <i class="icon icon-search" ng-click="doFilter()" aria-hidden="true"></i>
                            <input class="form-control search-input"
                                type="text"
                                localize="placeholder"
                                placeholder="@general_typeToSearch"
                                ng-model="options.filterTerm"
                                ng-change="doFilter()"
                                ng-keydown="doFilter()"
                                prevent-enter-submit
                                no-dirty-check>
                        </div>
                    </div>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-show="(selection.length > 0) && (options.bulkActionsAllowed)">

                    <umb-button ng-repeat="bulkAction in bulkActions"
                        type="button"
                        button-style="white"
                        label="{{ bulkAction.name }}"
                        icon="{{ bulkAction.icon }}"
                        action="doBulkAction(bulkAction)"
                        disabled="bulkActionInProgress"
                        size="xs"
                        add-ellipsis="true">
                    </umb-button>

                </umb-editor-sub-header-section>

            </umb-editor-sub-header-content-right>

        </umb-editor-sub-header>

        <div ng-if="!loading">

            <vendr-table ng-if="options.filteredItems && options.filteredItems.length > 0"
                items="options.filteredItems"
                allow-select-all="options.bulkActionsAllowed"
                allow-sorting="options.allowSorting"
                item-properties="itemProperties"
                on-select="selectItem(item, $index, $event)"
                on-click="itemClick(item, $index, $event)"
                on-select-all="selectAll($event)"
                on-selected-all="areAllSelected()"
                on-sorting-direction="setSortDirection(col, direction)"
                on-sort="sortItems(field, allow, isSystem)">
            </vendr-table>

            <umb-empty-state ng-if="!options.filteredItems || options.filteredItems.length === 0" position="center">
                <div>No items found</div>
            </umb-empty-state>

        </div>

        <umb-load-indicator ng-show="loading"></umb-load-indicator>

        <div class="flex justify-center" ng-show="!loading && paginated && pagination.totalPages">
            <umb-pagination page-number="pagination.pageNumber"
                total-pages="pagination.totalPages"
                on-next="goToPage"
                on-prev="goToPage"
                on-go-to-page="goToPage">
            </umb-pagination>
            <vendr-page-size page-sizes="[30,75,150,300,600]"
                page-size="pagination.pageSize"
                on-change="setPageSize(pageSize)">
            </vendr-page-size>
        </div>

    </div>

</div>
