<div class="vendr umb-dashboard-grid" ng-controller="Vendr.Controllers.CommerceDashboardController as vm">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <div class="p-20" ng-if="!vm.loading">

        <h2 class="mt-0 font-heading font-bold color-darkgrey text-xl">Welcome to the Commerce Section</h2>
        <p class="text-lg color-midgrey" style="max-width: 75%;">In this section you can access the various stores available to you and manage their orders, discounts and gift cards as well as review their performance.</p>

        <div ng-if="vm.stores && vm.stores.length > 0">
            <h4 class="text-16 mt-40">Your Stores</h4>

            <div class="store-list mt-20">

                <button type="button" class="store" ng-click="vm.goToStore(store.id)" ng-repeat="store in vm.stores">
                    <i class="store__icon icon icon-store"></i>
                    <h3 class="store__heading">{{store.name}}</h3>
                    <p class="store__description">{{store.defaultCountryName}}<span ng-if="store.baseCurrencyId"> | {{store.baseCurrencyCode}}</span></p>
                    <p class="store__stats">
                        <span class="mr-10" ng-if="store.totalRevenueToDate"><i class="fa fa-credit-card"></i> {{store.totalRevenueToDate}}</span> 
                        <span><i class="fa fa-shopping-cart"></i> {{store.totalOrdersToDate}}</span>
                    </p>
                </button>

            </div>
        </div>

        <vendr-message ng-if="!vm.stores || vm.stores.length == 0" class="mt-40" type="'info'" heading="'Help Center'" icon="'life-ring'">
            <p>If you are an Administrator, the next step you'll need to perform is to give your account access to a store via the store settings section, or, if you are a store owner, you'll need to contact your system Administrator to give you access to your store.</p>
        </vendr-message>

    </div>

</div>