<div class="vendr umb-dashboard-grid" ng-controller="Vendr.Controllers.CommerceDashboardController as vm">

    <style>
        .vendr .headline {
            margin: 40px 0 60px;
        }
        .vendr .headline .intro-text {
            margin-bottom: 20px;
        }
        .vendr .post-card--vendr {
            background-color: rgba(255, 255, 255, .5);
            border-radius: 5px;
        }
        .vendr .post-card__image-wrapper--vendr {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        @media (max-width: 992px) {
            .vendr .post-card__image-wrapper--vendr {
                border-bottom-left-radius: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    </style>

    <div class="headline">
        <h1 class="title">Welcome to the Vendr Preview</h1>
        <p class="intro-text"> Well hello there 😃! Thank you for taking the time try out our preview release of Vendr, the new eCommerce platform for Umbraco with simplicity at heart, brought to you by the fine folks at <a href="https://outfield.digital" target="_blank">Outfield Digital</a></p>
    </div>

    <div class="post-card post-card--featured post-card--vendr">

        <div class="post-card__image-wrapper post-card__image-wrapper--vendr post-card__background-image" style="background-image: url(/App_Plugins/Vendr/assets/vendr-bg.png)">
            <div style="padding: 60px">
                <img src="/App_Plugins/Vendr/assets/vendr-logo.png" alt="Vendr" style="max-width: 500px; width: 100%;" />
            </div>
        </div>

        <div class="post-card__content">
            <div class="post-card__title">About this preview</div>
            <div class="post-card__teaser">
                As this is a preview, please expect things to not be quite right or the odd feature missing. We simply want to showcase how things are going and let you take a sneak peek of what we have been up to.<br />
                <br />
                If you have any problems / questions, please head on over to our support forum to get in touch.
            </div>
            <a class="button" target="_blank" href="https://our.umbraco.com/packages/website-utilities/vendr/vendr-support/">Take me to the Support Forums</a>
        </div>

    </div>

</div>