<div ng-controller="Vendr.Controllers.DiscountEditController as vm" class="vendr">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager
          autocomplete="off">

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.content.name"
                               alias="vm.content.alias"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="false"
                               show-back-button="true"
                               on-back="vm.back()"
                               menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <vendr-license-check></vendr-license-check>

                <div class="vendr-layout vendr-layout--layout1">

                    <div class="vendr-layout__left">

                        <umb-box>
                            <!--<umb-box-header title="Settings"></umb-box-header>-->
                            <umb-box-content>

                                <umb-control-group label="Type" description="Select which type of discount this is">
                                    <select class="umb-property-editor umb-dropdown"
                                            ng-model="vm.content.type"
                                            ng-options="itm for itm in vm.options.discountTypes">
                                        <option value="" disabled selected>-- Select a Discount Type --</option>
                                    </select>
                                </umb-control-group>

                                <umb-control-group label="Codes" description="Define one or more code for this discount"
                                                   ng-show="vm.content.type === 'Code'">

                                    <div class="umb-property-editor umb-contentpicker">

                                        <table class="vendr-multi-field-table w-full" ng-if="vm.content.codes && vm.content.codes.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th style="width: 100px;">Usage Limit</th>
                                                    <th style="width: 1px;">Unlimited</th>
                                                    <th style="width: 1px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.content.codes">
                                                    <td class="vendr-multi-field-table__divide-right">
                                                        <input type="text" class="umb-property-editor umb-textstring textstring vendr-input--wide"
                                                               ng-model="item.code"
                                                               pattern="[A-Z0-9_\-]+"
                                                               vendr-uppercase />
                                                    </td>
                                                    <td>
                                                        <input type="number" pattern="[0-9]*" class="umb-property-editor umb-textstring textstring vendr-input vendr-input--wide"
                                                               ng-model="item.usageLimit" ng-disabled="item.isUnlimited" />
                                                    </td>
                                                    <td>
                                                        <vendr-toggle checked="item.isUnlimited" class="vendr-toggle--center"></vendr-toggle>
                                                    </td>
                                                    <td>
                                                        <button type="button" ng-click="vm.removeDiscountCode(item, $index)" class="btn umb-button--xs dropdown-toggle umb-button-group__toggle" title="Remove Discount Code" aria-hidden="true">
                                                            <i class="icon icon-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button type="button" class="umb-node-preview-add mt-10"
                                                ng-click="vm.addDiscountCode()">
                                            <span>Add Code</span>
                                            <span class="sr-only">...</span>
                                        </button>

                                    </div>

                                </umb-control-group>

                                <umb-control-group label="Rules" description="Define the rules of how this discount should apply">

                                    <vendr-rule-builder ng-model="vm.content.rules"></vendr-rule-builder>

                                    <vendr-toggle name="'Block further discounts from being applied'"
                                                  description="'If checked, no further discounts will be applied after this discount'"
                                                  checked="vm.content.blockFurtherDiscounts"
                                                  class="mt-10"></vendr-toggle>

                                    <vendr-toggle name="'Block discount if discounts already apply'"
                                                  description="'If checked, this discount won\'t be applied if any other discounts have already been applied'"
                                                  checked="vm.content.blockIfPreviousDiscounts"></vendr-toggle>

                                </umb-control-group>

                                <umb-control-group label="Rewards" description="Define the rewards that will be given for this discounts">

                                    <vendr-reward-builder ng-model="vm.content.rewards"></vendr-reward-builder>

                                </umb-control-group>

                                <umb-control-group label="Date Range" description="Define when this discount is available">

                                    <div class="umb-property-editor umb-contentpicker">

                                        <table class="vendr-multi-field-table w-full" style="max-width: 500px;">
                                            <thead>
                                                <tr>
                                                    <th class="w-1/2">Start Date</th>
                                                    <th>Expiry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="btn-group flex" style="font-size: 15px;">
                                                            <umb-date-time-picker ng-model="vm.localStartDate"
                                                                options="vm.startDatePickerConfig"
                                                                on-setup="vm.startDatePickerSetup(fpItem)"
                                                                on-change="vm.startDatePickerChange(dateStr, instance)"
                                                                class="flex-1" style="width: auto;">
                                                            </umb-date-time-picker>
                                                            <button ng-show="vm.content.startDate" ng-click="vm.clearStartDate()" 
                                                                    class="btn umb-button--xs dropdown-toggle umb-button-group__toggle vendr-btn--clear">
                                                                <i class="icon icon-wrong"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group flex" style="font-size: 15px;">
                                                            <umb-date-time-picker ng-model="vm.localExpiryDate"
                                                                options="vm.expiryDatePickerConfig"
                                                                on-setup="vm.expiryDatePickerSetup(fpItem)"
                                                                on-change="vm.expiryDatePickerChange(dateStr, instance)"
                                                                class="flex-1" style="width: auto;">
                                                            </umb-date-time-picker>
                                                            <button ng-show="vm.content.expiryDate" ng-click="vm.clearExpiryDate()" 
                                                                    class="btn umb-button--xs dropdown-toggle umb-button-group__toggle vendr-btn--clear">
                                                                <i class="icon icon-wrong"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </umb-control-group>

                                <umb-control-group label="Active" description="Activate / deactivate this discount">
                                    <umb-toggle checked="vm.content.isActive"
                                                on-click="vm.content.isActive = !vm.content.isActive"></umb-toggle>
                                </umb-control-group>

                            </umb-box-content>
                        </umb-box>
                    </div>

                    <div class="vendr-layout__right">

                        <vendr-editor-actions editor-actions="vm.options.editorActions"
                            model="vm.content"
                            ng-if="!vm.create && vm.options.editorActions && vm.options.editorActions.length > 0">
                        </vendr-editor-actions>

                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <vendr-id-label value="vm.content.id"></vendr-id-label>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <vendr-id-label value="vm.content.storeId"></vendr-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>

                    </div>

                </div>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                                     ancestors="vm.page.breadcrumb.items"
                                     on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="submit"
                                button-style="success"
                                state="vm.page.saveButtonState"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
